#main-body{
    display: flex;
    flex-direction: row;
    gap: 30;
    height: 700px;
}


#about{
    border: 1px solid black;
    // height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#socials{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.social-logo {
    width: 50px;
}

#main{
    color: purple;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    float: right;
}

.page{
    // border: 1px solid red;
    height: 100%;
    width: 100%;
}


#dear-diary{
    height: inherit;
    width: 100%;

    display: flex;
    flex-direction: column;
}

#dear-diary textarea{
    height: 90%;
    width: 100%;
}

#dear-diary input[type="submit"]{
    height: 10%;
    width: 100%;
}


#emotion-list{
    list-style: none;
}

#emotion-leist li{
    padding: 5px;
}

#emote-div img{
    // border: 2px solid white;
    opacity: 50%;
    visibility: hidden;
}